$background-color: #1d1d1d;
$text-color: #ffffff;
$accent-color: #3700B3;

$mobile-max-width: 600px;

html, body {
    margin: 0;
    padding: 0;
}

.text-primary-color {
    color: $text-color;
}

.text-secondary-color {
    color: darken($text-color, 15%);
}

.text-third-color {
    color: darken($text-color, 35%);
}

.cursor-pointer {
    cursor: pointer
}

.flex-box {
    display: flex;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    @media only screen and (min-width: $mobile-max-width) and (max-width: 850px) {
        width: $mobile-max-width;
        margin: 0 auto;
    }

    @media only screen and (min-width: 850px) and (max-width: 1250px) {
        width: 800px;
        margin: 0 auto;
    }

    @media only screen and (min-width: 1250px){
        width: 1200px;
        margin: 0 auto;
    }
}