$background-color: #1d1d1d;
$text-color: #ffffff;
$accent-color: #3700B3;

$mobile-max-width: 600px;

html, body {
    margin: 0;
    padding: 0;
}

.text-primary-color {
    color: $text-color;
}

.text-secondary-color {
    color: darken($text-color, 25%);
}

.cursor-pointer {
    cursor: pointer
}

.flex-box {
    display: flex;
}

.hidden {
    display: none;
}