.vs/**
*/bin/**
*/obj/**
*/logs/**
*/Properties/*
*/*.csproj.user
Streaming.Api/logs/*
Streaming.Api/processed/*
Streaming.Api/processing/*
/Streaming.Api/Configurations/KeysConfiguration.Secret.cs
