@import '../../../shared/global.scss';

.video-list-item {
    display: flex;
    color: white;

    .thumbnail-box {
        background-color: #1f1f1f;
        color: white;
        text-decoration: none; /* no underline */
        width: 320px;
        display: table;

        .thumbnail-image {
            max-width: 100%
        }

        &:hover {
            cursor: pointer;
        }
    }
    .video-metadata {
        margin-left: 15px;
        .video-title {
            font-size: 42px;
        }
    }
    margin-bottom: 20px;
    
}