@import '../../../Shared/GlobalStyle.scss';

.video-page {
    .video-player-container {
        position: relative;
        overflow: hidden;
        height: 400px;
    
        @media only screen and (min-width: 850px) and (max-width: 1250px) {
            height: 478px;
        }
    
        @media only screen and (min-width: 1250px){
            height: 703px;
        }
    }
}