@import '../../../Shared/GlobalStyle.scss';

.video-list-item {
    color: white;
    @media only screen and (min-width: $mobile-max-width) {
        display: flex;
    }

    .thumbnail {
        background-color: #1f1f1f;
        color: white;
        text-decoration: none; /* no underline */
        width: 100%;
        position:relative;

        @media only screen and (min-width: $mobile-max-width) {
            width: 320px;
        }

        img {
            vertical-align: middle;
            width: 100%;
        }

        &:hover {
            cursor: pointer;
        }

        .video-length {
            position: absolute;
            bottom: 5px;
            right: 5px;
            background-color: rgba(0, 0, 0, 0.767);
            border-radius: 5px;
            padding: 5px;
        }
    }
    .video-info {
        margin-left: 15px;
        .title {
            font-size: 32px;
        }
        .details {
            font-style: italic;
            padding-top: 2px;
            padding-bottom: 5px;
            a {
                text-decoration: none;
                color: white;
                &:visited {
                    color: white;
                }
            }
        }
        .description {
            font-size: 18px;
        }
    }
    margin-bottom: 20px;
    
}