@import '../../../shared/global.scss';

.progress {
    height: 2px;
    border-radius: 0;
    background-color: darken($background-color, 5px);
    .progress-bar {
        background-color: lighten($accent-color, 20%);
    }
}

.upload-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 5px;
    background-color: darken($background-color, 5px);

    .card-content {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .icon {
        font-size: 25px;
        padding: 10px;
        border-radius: 100px;
        background-color: lighten($background-color, 10%);
    }
    
    .icon-clickable:hover {
        cursor: pointer;
        background-color: lighten($accent-color, 20%);
    }
}